<!-- src/views/verPerfilTatuador.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Tatuador</title>
</head>
<body>
    <h1>Perfil do Tatuador</h1>
    <p>Nome: {{ tatuador.nome }}</p>
    <p>Email: {{ tatuador.email }}</p>
    <p>Local de Trabalho: {{ tatuador.localTrabalho }}</p>
    <p>Estilo da tatuagem: {{tatuador.estilosDesenhos}}</p>
    <p>Preços das Tatuagens: {{ tatuador.precoTatuagens }}</p>
</body>
</html>
